*.class
*.log
*.pyc
sbt/*.jar

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# idea
.idea/
*.iml

# Mac
.DS_Store

# emacs
*.*~

# docs
docs/*.html
docs/*.tex
docs/auto/
*-blx.bib
*.bbl
*.blg
*.fdb_latexmk
*.fls
docs/*.xml
*.tex
*.tiff
docs/benchmark/*.html

# sbt
build/sbt-launch-0.13.6.jar
build/sbt-launch-0.13.7.jar
build/sbt-launch-*.jar
